
/*HTML*/

html {
    margin: 0;
    padding: 0;
}

/*BODY*/


body {
    margin: 0;

    background-image: linear-gradient(to right, #ffffff, #fdfdfd, #fafafa, #f8f8f8, #f6f6f6);
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -1px;
}


/*NAVBAR*/


.navbar {
    display: contents;
    position: fixed;

}

.navbar_list {
    list-style-type:none;

    background-color: #FFFFFF;

    display: flex;
    align-items: center;

    width: 50rem;
    height: 6.5rem;
    margin: auto;

    border-radius: 2px;
    box-shadow: 0px 0px 1px #F6F6F6;

    font-size: 1.2rem;
}

.navbar_list li {
    margin: 0 15.5rem 0 6rem;
}

.navbar_list li a {
    color: black;
    margin-left: -8rem;
    text-decoration: none;

    transition: 0.5s;
}

.navbar_list li a:hover {
    color: #3b7eff;
}

.logo_img {
    width: 8rem;
}


/*PAGE THEME*/


.page_theme {

    width: 100%;
    height: 25.5rem;

    text-align: center;
    margin: 0;
    padding: 0;

    background-image: linear-gradient(rgb(63, 131, 197) 50%, rgb(124, 183, 228) 100%);

    border-radius: 2px;

    color: #FFFFFF;
}


/*MAIN SECTION*/


.main_section {


    height: 50rem;
    width: 100rem;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
    color: black;
    margin: 3rem 0rem 3rem 9rem;

}



/*FOOTER*/


footer {
    position: fixed;
    text-align: center;
    left: 0;
    width: 100%;
    display: inline-block;
    font-size: 1rem;
    bottom: 1rem;
}



img.github_icon {

    position: relative;
    top: 0.5rem;
    width: 6rem;
    height: 3rem;
    transition: 1s;
    border-radius: 3rem;
    margin-left: -2.5rem;

    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
    background-image: linear-gradient(rgb(63, 131, 197) 50%, rgb(124, 183, 228) 100%);

}

img.github_icon:hover {
    width: 6.5rem;
    height: 3.5rem;
    top: 0.5rem;
    background-image: linear-gradient(rgb(63, 131, 197) 50%, rgb(124, 183, 228) 100%);
}
