

.content_text {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-family: "Work Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 600;
    word-spacing: normal;
    top: 10rem;
}


div.main_text {

    display: inline-block;
    width: 60rem;
    text-align: justify;

}



ul.list_btn {
    list-style-type: none;
    position: absolute;
    display: flex;
    margin-left: 7rem;
}


ul.list_btn li {
    display: flex;
    margin: 2rem;
    width: 9rem;
}


ul.list_btn li a {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    transition: 1s;
    background-image: linear-gradient(rgb(63, 131, 197) 50%, rgb(124, 183, 228) 100%);
}


ul.list_btn li a:hover {
    width: 10rem;
    color: black;
    font-weight: 800;
}

