
{% extends 'base.html' %}


{% block head %}
<link rel="icon" href="../static/images/title_icon_01.webp" type="image/icon type">
<link href="{{ url_for('static', path='../static/css/contacts.css') }}" rel="stylesheet">

    <title>Contatos</title>

{% endblock %}



{% block content %}

    <span class="content_text">Contatos</span>

{% endblock %}



{% block body %}

    <h2>Gerenciamento de Contatos</h2>

    <div class="main_text">
        <p>
            Para manipular os contatos, basta clicar a funcionalidade que deseja e inserir, caso necessite, o valor do id:
        </p>
    </div>

    <div class="div_list_btn">
        <ul class="list_btn">
            <li><a href="{{ url_for('contatos_read_all') }}">Ler Todos Contatos</a>
            </li>
            <li>
                <form action="{{ url_for('contatos_read_by_id') }}" method="GET">
                    <input type="number" step="1" min="1" id="contact_id" name="contact_id">
                    <input class="submit" type="submit" value="Buscar">
                </form>
            </li>
            <li>
                <form action="{{ url_for('contatos_delete_by_id') }}" method="GET">
                    <input type="number" step="1" min="1" id="contact_id" name="contact_id">
                    <input class="submit" type="submit" value="Deletar">
                </form>
            </li>
        </ul>
    </div>

    {% if error %}
        <p style="margin-top: 8rem;">{{ error }}</p>
    {% endif %}

    <div class="all_contacts">
            {% if all_contacts %}
            <div class="contact">
                {% for contact in all_contacts %}
                    <p><b>id:</b> {{ contact.id }}<br>
                    <b>Nome:</b> {{ contact.name }}<br>
                    <b>Sobrenome:</b> {{ contact.last_name }}<br>
                    <b>CPF:</b> {{ contact.cpf }}<br>
                    <b>Email01:</b> {{ contact.email_01 }}<br>
                    <b>Email02:</b> {{ contact.email_02 }}<br>
                    <b>Email03:</b> {{ contact.email_03 }}<br>
                    <b>Telefone01:</b> {{ contact.phone_01 }}<br>
                    <b>Telefone02:</b> {{ contact.phone_02 }}<br>
                    <b>Telefone03:</b> {{ contact.phone_03 }}</p>
                {% endfor %}
            {% endif %}

            {% if search_id %}
            <div class="contact">
                <p><b>id:</b> {{ search_id.id }}<br>
                    <b>Nome:</b> {{ search_id.name }}<br>
                    <b>Sobrenome:</b> {{ search_id.last_name }}<br>
                    <b>CPF:</b> {{ search_id.cpf }}<br>
                    <b>Email01:</b> {{ search_id.email_01 }}<br>
                    <b>Email02:</b> {{ search_id.email_02 }}<br>
                    <b>Email03:</b> {{ search_id.email_03 }}<br>
                    <b>Telefone01:</b> {{ search_id.phone_01 }}<br>
                    <b>Telefone02:</b> {{ search_id.phone_02 }}<br>
                    <b>Telefone03:</b> {{ search_id.phone_03 }}</p>
            {% endif %}

        </div>
        {% if delete_msg %}
                <p>{{ delete_msg }}</p>
            {% endif %}
    </div>

{% endblock %}