
{% extends 'base.html' %}


{% block head %}

<link href="{{ url_for('static', path='../static/css/contacts.css') }}" rel="stylesheet">

    <title>Contatos</title>

{% endblock %}



{% block content %}

    <span class="content_text">Contatos</span>

{% endblock %}



{% block body %}

    <h2>Gerenciamento de Contatos</h2>

    <div class="main_text">
        <p>
            Para manipular os contatos, basta clicar a funcionalidade que deseja nos botões abaixo:
        </p>
    </div>

    <div class="div_list_btn">
        <ul class="list_btn">
            <li><a href="">Ler Contatos</a></li>
            <li><a href="">Buscar por ID</a></li>
            <li><a href="">Buscar por Telefone</a></li>
            <li><a href="">Novo Contato</a></li>
            <li><a href="">Deletar Contato</a></li>
            <li><a href="">Atualizar Contato</a></li>
        </ul>
    </div>

{% endblock %}