
{% extends 'base.html' %}


{% block head %}

<link href="{{ url_for('static', path='../static/css/developer.css') }}" rel="stylesheet">

    <title>Desenvolvedor</title>

{% endblock %}



{% block content %}

    <span class="content_text">Desenvolvedor</span>

{% endblock %}



{% block body %}

    <h2>Olá, tudo bem?</h2>

    <div class="main_text">
        <p>
            Me chamo Pedro Mesquita Guedes e venho estudando e trabalhando na área de desenvolvimento de softwares.
            Desde o início de minha jornada no segmento de TI, tive uma familiaridade e facilidade muito grande com o back-end sendo meu principal 
            foco mas, apesar de não dominar tão bem, possuo interesses também pelo front-end.
        </p>

        <p>
            Sou formado em Análise e Desenvolvimento de Sistemas pela faculdade Impacta e estudo através das documentações oficiais das ferramentas
            e frameworks os quais utilizo. A maioria de minhas aplicações são realizadas com a linguagem Python e englobam desenvolvimento e consumo de API's.
            Busco atualmente me aprimorar como desenvolvedor, tendo como objetivo me tornar um full-stack, aprimorando meus conhecimentos e aprendendo novas
            tecnologias.
        </p>

        <p>
            Caso tenha interesse, possuo mais projetos publicados em meu GitHub, o qual pode ser acessado pelo footer. Espero que você tenha gostado do projeto
             e fico disponível para melhorias e feedbacks!
        </p>
    </div>

{% endblock %}

