
{% extends 'base.html' %}


{% block head %}

<link href="{{ url_for('static', path='../static/css/index.css') }}" rel="stylesheet">

    <title>Esferas Software API</title>

{% endblock %}


{% block content %}

    <span class="content_text">
        Bem-vindo ao desafio Esferas Software!<br><br>
        Utilize a barra de superior para navegar pelo projeto
    </span>

{% endblock %}


{% block body %}

    <h2>Esferas Software API</h2>

    <div class="main_text">
        <p>
            Esse desafio da empresa <a href="https://esferas.com.br/" target="_blank"><b>Esferas Software</b></a> foi desenvolvido com a 
            linguagem Python, framework FastAPI, integração com banco de dados, logs, entre outras tecnologias. O projeto consiste basicamente em um 
            CRUD de uma tabela chamada Contatos e é possível visualizar as documentações da API acessando os endpoints <b>"/docs"</b> e <b>"/redoc"</b>, 
            uma implementação automática porém totalmente possível customizar fornecida pelo framework FastAPI.
        </p>

        <p>
            O projeto foi elaborado com foco no back-end, sendo desenvolvido toda as funcionalidades da API e suas estruturas a princípio. Pela proposta do
            cargo referente ao desafio, acredito que seria válido implementar também o front-end. Não possuo muita experiência e conhecimentos nessa área,
             mas utilizei ao máximo as minhas habilidades para realizar. Foi utilizado como referência o próprio site da empresa, como padrões de cores,
             estrutura das páginas, fontes, entre outros.
        </p>

    </div>

{% endblock %}
