
{% extends 'base.html' %}


{% block head %}

<link href="{{ url_for('static', path='../static/css/index.css') }}" rel="stylesheet">

    <title>Esferas Software API</title>

{% endblock %}


{% block content %}

    <span class="content_text">
        Bem-vindo ao desafio Esferas Software!
    </span>

{% endblock %}


{% block body %}

    <h2>Esferas Software API</h2>

    <div class="main_text">
        <p>
            Esse desafio da empresa <a href="https://esferas.com.br/" target="_blank"><b>Esferas Software</b></a> foi desenvolvido com a 
            linguagem <b>Python</b>, framework <b>FastAPI</b>, integração com banco de dados(<b>SQLAlchemy</b> e <b>SQLite3</b>), logs, entre outras tecnologias. O projeto consiste basicamente em um 
            CRUD de uma tabela chamada Contatos e é possível visualizar as documentações da API acessando os endpoints <b>"/docs"</b> e <b>"/redoc"</b>, 
            uma implementação automática porém totalmente possível customizar fornecida pelo FastAPI.
        </p>

        <p>
            Para essa aplicação, devido à pequena quantidade de dados a serem
            armazenados, decidi por escolher o <b>SQLite3</b> invés do <b>PostgreSQL</b>. Normalmente tenho uma preferência para trabalhar com o <b>PostgreSQL</b> 
            quando alguma coluna de tabela armazenará mais de um valor, pois esse banco de dados permite o tipo de dados <b>Array</b>, facilitando muito as querys e o código.
            Porém, como a quantidade de dados é pequena, decidi que três e-mails e telefones bastaria.
        </p>

        <p>
            O projeto foi elaborado com foco no back-end, sendo desenvolvido toda as funcionalidades da API e suas estruturas a princípio. Pela proposta do
            cargo referente ao desafio, acredito que seria válido implementar também o front-end. Não possuo muita experiência e conhecimentos nessa área,
             mas utilizei ao máximo as minhas habilidades para realizar. Foi tido como base de referência o próprio site da empresa, como padrões de cores,
             estrutura das páginas, fontes, entre outros.
        </p>

        <p>
            Nem todos endpoints estão sendo contemplados na aba <b>Contatos</b>, principalmente por conta do tempo para desenvolver o projeto(quatro dias).
            Apesar disso, ainda é possível testar a API visualmente um pouco mais do lado do cliente apesar dessa limitação.
        </p>

        <p>
            Espero que goste da Esferas Software API!
        </p>

    </div>

{% endblock %}
